@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
html {
  height: 100%;
}
body {
  overflow-x: hidden;
  font-family: "Open Sans";
}

.wrap-main {
  margin: 0 auto;
  width: 1659px;
}
.social{
  padding: 0;
  width: 140px;
  display: flex;
  justify-content: space-around;
}
.social__icon {
  padding: 0;
  list-style: none;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  
}
.social__item_type_twitter {
  background-image: url("/app/icons/icon_twitter.svg");
}
.social__item_type_instagram {
  background-image: url("/app/icons/icon_instagram.svg");
}
.social__item_type_vk {
  background-image: url("/app/icons/icon_vk.svg");
}